<%= render 'users_validation', user: @user%>
<div class="col-sm-12 col-md-8 col-lg-6 px-6 px-sm-0 mx-auto">
<h2>プロフィール編集</h2>
<%= form_with model:@user, local:true do |f| %>

  <div><label for="inputName">Name</label></div>
  <div><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></div>


  <div><label for="inputName">introduction</label></div>
  <div><%= f.text_field :introduction, autofocus: true, id:"inputName", placeholder:"イントロダクション"%></div>

  <div><label for="inputImage">Image</label></div>
  <div><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg",size:"60x60" %></div>

  <div>
    <%= f.attachment_field :profile_image %>
  </div>

  <%= f.submit "Update User" %>
<% end %>
</div>