<%= render 'info', book: @book ,user: @user%>
<div class="col-md-8 offset-md-1">
<!--対象userが投稿したbookの表示-->
<h2>Books</h2>
<% @books.each do |book| %>
  <div class="card">
    <p>タイトル：
      <%= link_to book_path(book.id) do %>
        <%= book.title %>
      <% end %>
    </p>
    <p>感想：<%= book.body %></p>
    <p>投稿者：<%= book.user.name %></p>
    <p>投稿ユーザー画像：
      <%= link_to user_path do %>
      <%= attachment_image_tag book.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %>
      <% end %>
    </p>
  </div>
<% end %>
</div>
<!--%= paginate @books %-->