<!--infoフォルダがusersに入ってるのでusers/info-->
<%= render 'users/info', book: @book ,user: @user%>
<div class= "col-md-8 offset-md-1">
  <h3>Books</h3>
  <% @books.each do |book| %>
  <div class="card">
    <p class="m-0">タイトル：
      <%= link_to book_path(book.id) do %>
        <%= book.title %>
      <% end %>
    </p>
    <p>opinion：<%= book.body %></p>
    <p class="m-0">
      <%= link_to user_path(book.user.id) do %>
        <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg",size:"60x60" %>
      <% end %>
    </p>
    <p>投稿者：<%= book.user.name %></p>
  </div>
<% end %>
</div>