<%= render 'users/info', book: @book ,user: @user%>

<div class="book-body">
  <h2>Book detail</p>
  <table>
    <tr>
      <td>
        <p><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %></p>
        <p><%= @books.user.name %></p>
      </td>
      <td><p><%= @books.title %></p></td>
      <td><p><%= @books.body %></p></td>
      <% if @books.user == current_user %>
      <td><%= link_to "削除", book_path(@books), method: :delete %></td>
      <% end %>
    </tr>
  </table>
</div>